@model restaurante.domain.Consumo 

<h2 class="text-center">Contas Restaurante</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.id)

        <div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
            <div class="editor-label">
                Restaurante
            </div>
            <div class="editor-field">
                <select class="form-control" name="restaurante.id" required>
                    <option value="" disabled selected>Selecione o Restaurante</option>
                    @foreach(var Restaurante in ViewBag.Restaurante)
                    {
                        <option value="@Restaurante">@Restaurante.id | @Restaurante</option>
                    }
                </select>   
            </div>
        </div>

        <div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
            <div class="editor-label">
                Data Almoco
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.data, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.data)</small>
            </div>
        </div>

        <div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
            <div class="editor-label">
                Valor Gasto
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.valor)</small>
            </div>
        </div>

        <div class="form-group col-12 col-sm-8 col-md-6 mx-auto">
            <div class="editor-label">
                Valor a pagar
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control"} })
                <small class="form-text text-muted">@Html.ValidationMessageFor(model => model.valor)</small>
            </div>
        </div>

        <div class="d-block text-center">
            <button type="submit" class="btn btn-primary d-block my-4 mx-auto">Adicionar</button>

            @Html.ActionLink("Voltar para listagem", "Index", null, null, new { @class = "mt-2 d-block" })
        </div>
    }